<!doctype html>
<html>
<head>
  <title>Conquer</title>
  {{#if showTests}}
    <link rel="stylesheet" href="/vendor/mocha.css">
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
  {{/if}}
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="index.js"></script>
</head>
<body>
<div id="menu">
  <ul>
    <li id='first'>HOME</li>
    <li id='second'>ABOUT US</li>
  </ul>
</div>
<div id="home"><div id="welcome">CONQUER</div></div>
<div id='aboutus' class="page"></div>
<div id='empty' class='page'></div>
</body>
</html>
